<div class="card" *ngIf="isReady">
  <div class="card-content">
    <p class="title is-5"><strong>{{currentUser.firstName}} {{currentUser.lastName}}</strong></p>
    <p class="subtitle is-6 email">{{currentUser.email}}</p>
    <div class="columns">
      <div class="column">
        <p class="heading">Total</p>
        <p class="title">{{currentUser.totalKudos}}</p>
      </div>
      <div class="column">
        <p class="heading">Weekly</p>
        <p class="title">{{currentUser.weeklyKudos}}</p>
      </div>
    </div>
  </div>
</div>
