<div class="card">
    <div class="card-block">
        <p>
            <i class="fa fa-gamepad"
               aria-hidden="true"></i>
            <a href="">{{action.userFullName}}</a>
            <span *ngIf="action.type == 'COMMENTED'"> commented on </span>
            <span class="bold">challenge</span>
            <span class="kudos-date">{{action.timestamp | date:'fullDate'}}</span>
        </p>

        <blockquote *ngIf="action.type == 'COMMENTED'">
            {{action.commentResponse.text}}
        </blockquote>

        <div class="actions-holder">
            <div class="kudos-comment pull-right">
                <div class="content center">
                    <i class="fa fa-commenting-o"
                       aria-hidden="true"></i>
                </div>
            </div>
        </div>

    </div>
</div>
