<div *ngIf="showForUser" class="container-fluid">

    <div class="container">
    <div class="card">
        <span class="pull-xs-right hidden-xs-down" *ngIf="page + 1 == totalPages">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-list" aria-hidden="true"></i> {{pageSize}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:" (click)="changePageSize(10)">10</a>
            <a class="dropdown-item" href="javascript:" (click)="changePageSize(20)">20</a>
            <a class="dropdown-item" href="javascript:" (click)="changePageSize(50)">50</a>
          </div>
        </div>
      </span>
    </div>
    </div>

    <div *ngIf="inventoryItemsCollection.length === 0" class="alert alert-info text-xs-center" role="alert">
        <strong>Whoops!</strong> No items in the shop.
    </div>

    <div *ngIf="showLoader" class="loader">Loading...</div>

    <div class="container">
        <div class="row">
            <div class="card col-md-4" *ngFor="let item of inventoryItemsCollection; let chIndex = index">
                <div class="card-block">
                    <h4 class="card-title">{{item.name}}</h4>
                    <h6 class="card-subtitle text-muted">Price: {{item.price}}</h6>
                    <h6 class="card-subtitle text-muted">Amount: {{item.amount}}</h6>
                </div>
                <img class="img-thumbnail" src="{{item.pictureUrl}}" alt="Shop item">
                <div class="card-block">
                    <p class="card-text">{{item.description}}</p>
                    <a class="btn btn-primary btn-block" href="javascript:" (click)="placeOrder(item.id)" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>   BUY</a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="page + 1 == totalPages" class="m-x-auto text-xs-center">
        <ul class="nav nav-inline">
            <li class="nav-item">
                <a class="nav-link active" [ngClass]="isFirstPage ? 'disabled' : ''" (click)="loadPreviousPage()"
                   href="javascript:">Previous</a>
            </li>
            <span class="message page-indicator">Page {{page + 1}} of {{totalPages}}</span>
            <li class="nav-item" [ngClass]="isLastPage ? 'disabled' : ''">
                <a class="nav-link" (click)="loadNextPage()" href="javascript:">Next</a>
            </li>
        </ul>
    </div>


</div>

<!--admin stuff-->
<div *ngIf="showForAdmin" class="container-fluid">

    <div *ngIf="ordersCollection.length === 0" class="alert alert-info text-xs-center" role="alert">
        <strong>Whoops!</strong> No orders in the shop.
    </div>

    <div *ngIf="showLoader" class="loader">Loading...</div>

    <div class="container">

        <div class="card" *ngFor="let item of ordersCollection; let chIndex = index">
            <div class="card-block">
                <h4 class="card-title">{{item.creatorFullName}}</h4>
                <h6 class="card-subtitle text-muted">Item: {{item.itemName}}</h6>
            </div>
            <div class="card-block">
                <a class="btn btn-primary btn-block" href="javascript:" (click)="approveOrder(item.orderId)" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>   APPROVE</a>
            </div>
        </div>

    </div>

</div>
