<div class="card">
  <div class="card-block">

    <div *ngIf="showLoader" class="loader">Loading...</div>

    <h4 class="card-title">Challenges</h4>

      <div *ngIf="userChallengesCollection.length === 0" class="alert alert-info text-xs-center" role="alert">
        <strong>Whoops!</strong> there is no challenges history.
      </div>

    <div *ngFor="let challenge of userChallengesCollection; let chIndex = index">

      <p *ngIf="challenge.status === 'ACCOMPLISHED'">
        Accomplished challenge from
        <a class="user-name" href="javascript:" routerLink="/user/{{challenge.creatorId}}">{{challenge.creatorFullName}}</a> and received
        <span class="tag tag-default">{{challenge.amount}} kudos</span>
        <span class="message"><br>{{challenge.name}}</span>
        <span class="message"><br>{{challenge.description}}</span>
      </p>

      <p *ngIf="challenge.status === 'FAILED'">
        Failed challenge from
        <a class="user-name" href="javascript:" routerLink="/user/{{challenge.creatorId}}">{{challenge.creatorFullName}}</a>
        <span class="message"><br>{{challenge.name}}</span>
        <span class="message"><br>{{challenge.description}}</span>
      </p>

      <!--<kudos-comments-holder [id]="challenge.id"></kudos-comments-holder>-->

    </div>
  </div>
</div>