<section>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title has-text-centered">Sign up</h1>
      <div class="card">
        <div class="card-content">
          <form>
            <label class="label">Full Name</label>
            <p class="control has-icon has-icon-right">
              <input class="input" type="email" placeholder="Text input" value="bulma">
              <!--<span class="icon is-small">
                <i class="fa fa-check"></i>
              </span>
              <span class="help is-success">This username is available</span>-->
            </p>

            <label class="label">Email</label>
            <p class="control has-icon has-icon-right">
              <input class="input" type="email" placeholder="Text input" value="bulma">
              <!--<span class="icon is-small">
                <i class="fa fa-check"></i>
              </span>
              <span class="help is-success">This username is available</span>-->
            </p>
            <label class="label">Password</label>
            <p class="control has-icon has-icon-right">
              <input class="input" type="password" placeholder="Email input" value="hello@">
              <!--<span class="icon is-small">
                <i class="fa fa-warning"></i>
              </span>
              <span class="help is-danger">This email is invalid</span>-->
            </p>
            <div class="has-text-centered">
              <button type="submit" class="button is-primary is-outlined">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="has-text-centered">
    Already have account? <a routerLink="/sign-in" href="javascript:">Sign In</a>
  </div>
</section>
