<section>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title has-text-centered">Sign up</h1>
      <div class="card">
        <div class="card-content">
          <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
            <label class="label">Full Name</label>
            <p class="control has-icon has-icon-right">
              <input [(ngModel)]="formModel.fullName" name="fullName" class="input" type="text" placeholder="Full Name" required>
            </p>
            <label class="label">Email</label>
            <p class="control has-icon has-icon-right">
              <input [(ngModel)]="formModel.email" name="email" class="input" type="email" placeholder="Email" required>
            </p>
            <label class="label">Password</label>
            <p class="control has-icon has-icon-right">
              <input [(ngModel)]="formModel.password" name="password" class="input" type="password" placeholder="Password" required>
            </p>
            <div *ngIf="hasErrors" class="notification is-danger">
              <button class="delete" (click)="hasErrors = false"></button>
              {{errorMessage}}
            </div>
            <div class="has-text-centered">
              <button type="submit" class="button is-primary is-outlined">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="has-text-centered">
    Already have account? <a routerLink="/sign-in" href="javascript:">Sign In</a>
  </div>
</section>
