<div class="no-nav-container">
    <div class="m-x-auto login-title">
        <h2 class="text-xs-center">Sign In</h2>
    </div>

    <div class="m-x-auto card-login">
        <form (ngSubmit)="onSubmit()">
            <label for="inputEmail3">Email address</label>
            <div class="form-group">
                <input type="email"
                       class="form-control"
                       id="inputEmail3"
                       [(ngModel)]="model.email"
                       (ngModelChange)="model.email = $event"
                       name="email">
            </div>
            <label for="password">Password</label>
            <div class="form-group input-group">
                <input type="{{!showPassword ? 'password' : 'text'}}"
                       class="form-control"
                       id="password"
                       [(ngModel)]="model.password"
                       (ngModelChange)="model.password = $event"
                       name="password">
                <span class="input-group-addon"
                      (click)="showPassword = !showPassword">
                    <i [ngClass]="!showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
                       aria-hidden="true"></i></span>
            </div>

            <div *ngIf="showErrorMessage"
                 class="alert alert-danger text-xs-center"
                 role="alert">
                <strong>Oh snap!</strong> {{errorMessage}}
            </div>

            <div class="form-group">
                <button type="submit"
                        class="btn btn-primary btn-block">Login
                </button>
            </div>

            <recover-password></recover-password>

        </form>

    </div>

    <div class="m-x-auto card-login-footer">
        <div class="text-xs-center">
            <p class="small">Don't have an account?</p>
            <a class="login-create-link"
               href="#"
               routerLink="/signup">Create account</a>
        </div>

        <account-confirmation></account-confirmation>

    </div>
</div>
