<div class="container">

  <div class="panel">
    <div class="panel-body">
      <h2>Hello {{user?.firstName}} {{user?.lastName}}</h2>
      <p>You have <span class="badge">{{user?.totalKudos}} Kudos</span> in total you can spend up to <span class="badge">{{user?.weeklyKudos}} Kudos</span> this week.</p>
    </div>
  </div>

  <kudos-user-kudos-history *ngIf="user" [id]="user?.id"></kudos-user-kudos-history>

  <kudos-user-challenges-history *ngIf="user" [id]="user?.id"></kudos-user-challenges-history>


  <div class="row">

    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>

  </div>


</div>