<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        KUDOS
      </a>
      <a class="nav-item is-tab is-hidden-mobile is-active">Home</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item">Log out</a>
    </div>
  </div>
</nav>

<section>
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <app-user-panel></app-user-panel>
      </div>
      <div class="column">
        <app-give></app-give>
      </div>
    </div>
  </div>
</section>
