<table class="table">
  <thead>
  <tr>
    <th><abbr title="FullName">Name</abbr></th>
    <th><abbr title="Total">Total</abbr></th>
    <th><abbr title="Weekly">Weekly</abbr></th>
    <th><abbr title="Status">Status</abbr></th>
    <th><abbr title="Action"></abbr></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.firstName}} {{user.lastName}}</td>
    <td>{{user.totalKudos}}</td>
    <td>{{user.weeklyKudos}}</td>
    <td><span class="tag" [ngClass]="getStatusTagClass(user.status)">{{user.status}}</span></td>
    <td>
      <a (click)="confirmUser(user)" *ngIf="user.status === 'NOT_CONFIRMED'">Confirm</a>
    </td>
  </tr>
  </tbody>
  </table>
