<div class="padding-top">
    <h5 class="title is-5">Available points <strong>{{availablePoints}}</strong></h5>
</div>
<div class="columns padding-top">
  <div *ngFor="let item of shopItems" class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{item.pictureUrl}}" alt="Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{item.name}}</p>
            <p class="subtitle is-6">Price: <span class="tag">{{item.price}}</span></p>
          </div>
        </div>
        <div class="content">
          {{item.description}}
        </div>
        <div class="block">
          <button (click)="orderItem(item)" type="button" class="button is-primary">Order</button>
        </div>
      </div>
    </div>
  </div>
</div>

