<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h5 class="panel-title">
      <span class="tag tag-default">0</span>
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Ongoing
      </a>
    </h5>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="alert alert-info" role="alert">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
  </div>
</div>