<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h5 class="panel-title">
      <span class="tag tag-default">{{ongoingChallengesTotalSize}}</span>
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Ongoing
      </a>
    </h5>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div *ngIf="ongoingChallengesList?.length === 0" class="alert alert-info" role="alert">
      <strong>Heads up!</strong> You have no new challenges. Challenge someone!
    </div>
    <kudos-challenge-item *ngFor="let challenge of ongoingChallengesList; let chIndex = index"
                          [challenge]="challenge"
                          [index]="chIndex"
                          (removeRequest)="removeChallenge($event)">
    </kudos-challenge-item>
  </div>
</div>