<div class="no-nav-container">
    <div class="m-x-auto login-title">
        <h2 class="text-xs-center">Sign In</h2>
    </div>

    <div class="m-x-auto card-login">
        <form (ngSubmit)="onSubmit()">
            <label for="inputEmail3">Email address</label>
            <div class="form-group">
                <input type="email"
                       class="form-control"
                       id="inputEmail3"
                       [(ngModel)]="model.email"
                       (ngModelChange)="model.email = $event"
                       name="email">
            </div>
            <label for="password">Password</label>
            <div class="form-group input-group">
                <input type="{{!showPassword ? 'password' : 'text'}}"
                       class="form-control"
                       id="password"
                       [(ngModel)]="model.password"
                       (ngModelChange)="model.password = $event"
                       name="password">
                <span class="input-group-addon"
                      (click)="showPassword = !showPassword">
                    <i [ngClass]="!showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
                       aria-hidden="true"></i></span>
            </div>

            <div *ngIf="showErrorMessage"
                 class="alert alert-danger"
                 role="alert">
                <strong>Oh snap!</strong> {{errorMessage}}
            </div>

            <div class="form-group">
                <button type="submit"
                        class="btn btn-primary btn-block">Login
                </button>
            </div>

            <div class="text-xs-center">
                <a href="#forgot-password-modal"
                   data-toggle="modal">Forgot password?</a>
            </div>

        </form>

    </div>

    <div class="m-x-auto card-login-footer">
        <div class="text-xs-center">
            <p class="small">Don't have an account?</p>
            <a class="login-create-link"
               href="#"
               routerLink="/signup">Create account</a>
        </div>
        <div class="text-xs-center confirm-block">
            <p class="small">Already signed up, but can't login?</p>
            <a href="#confirm-account-modal"
               data-toggle="modal">Confirm account</a>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade"
     id="confirm-account-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="confirm-account-modal-title">Account confirmation</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>Please enter account activation code which you have received to your email address.</p>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <label for="confirmAccount">Activation code</label>
                            <div class="form-group">
                                <input type="email"
                                       class="form-control"
                                       id="confirmAccount"
                                       name="confirm-account">
                            </div>

                            <div class="form-group">
                                <button type="submit"
                                        class="btn btn-primary">Confirm account
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade"
     id="forgot-password-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="forgot-password-modal-title">Reset your password?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>Please enter email address of your Open Kudos account.</p>
                        <p>We will send you your new password, which you will be able to change in your user
                            settings.</p>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="resetPasswordEmail">Email address</label>
                                <input type="email"
                                       class="form-control"
                                       id="resetPasswordEmail"
                                       name="reset-password-email">
                            </div>

                            <div class="form-group">
                                <button type="submit"
                                        class="btn btn-primary">Send new password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
