<div class="col-md-8 offset-md-2">

    <kudos-user-header [user]="user" [showSettings]="true"></kudos-user-header>

    <div class="main-actions">
        <app-give-kudos></app-give-kudos>
        <kudos-give-challenge></kudos-give-challenge>
    </div>

    <kudos-challenges-panel></kudos-challenges-panel>

    <kudos-global-feed></kudos-global-feed>

    <div class="card">
        <div class="card-header">
            <h5>Your recent actions</h5>
        </div>
        <div class="card-block">
            <app-action-item *ngFor="let action of usersActions;"
                             [action]="action"
                             [noShadow]="true">
            </app-action-item>
        </div>
    </div>

    <app-leaderboard></app-leaderboard>

    <app-wisdom-wall></app-wisdom-wall>

</div>
