@import "variables";

.btn{
  border-radius: 2px;
  padding: 10px;
}

/*
.btn-outline-primary{
  color: $color-primary;
  border-color: $color-primary;
  &:hover,&:active,&:focus,&:active:focus{
    color: #ffffff;
    border-color: $color-primary;
    background: $color-primary;
  }
}

.btn-primary{
  color: $color-white;
  background: $color-primary;
  border-color: $color-primary;
  &:hover,&:active,&:focus,&:active:focus{
    color: #ffffff;
    background: $color-primary-dark;
    border-color: $color-primary-dark;
  }
}*/
