@import "variables";

$card_bg_color: #ffffff;
$card_base_padding: 10px;
$card_base_margin: 10px;
$card_base_border_radius: 4px;

.card{
  padding: $card_base_padding;
  background: $card_bg_color;
  border-radius: $card_base_border_radius;
  border: #e8e8e8 1px solid;

  .card-header{
    background: $card_bg_color;
  }

  .card-block{
    background: $card_bg_color;
    padding: 10px;
  }

}

.main-card{
  p{
    line-height: 1;
    &.name{
      line-height: 0.5;
    }
    &.email{
      font-size: 12px;
    }
  }
  .tag{
    line-height: 1;
  }
}

.card-login{
  padding: 10px;
  box-shadow: 1px 1px 3px #888888;
  border-color: #ffffff;
  background: $color-white;
  border-radius: 2px;
  max-width: 380px;

  button{
    height: 42px;
  }

  .alert{
    border-radius: 2px;
  }

  .alert-danger{
    padding: 15px;
  }

  strong{
    padding: 0;
    margin: 0;
  }

}

.card-login-footer{
  padding: 20px;
  max-width: 380px;

  p{
    margin: 0;
    padding: 0;
  }

  .login-create-link{
    line-height: 0.2;
  }

  .confirm-block{
    padding-top: 10px;
  }

}

.card-action{

}

.card-fixed{
  position: fixed;
}