@import "variables";

.card{
  box-shadow: 1px 1px 5px #888888;
  border-color: #ffffff;
}

.main-card{
  p{
    line-height: 1;
    &.name{
      line-height: 0.5;
    }
    &.email{
      font-size: 12px;
    }
  }
  .tag{
    line-height: 1;
  }
}

.card-login{
  padding: 10px;
  box-shadow: 1px 1px 3px #888888;
  border-color: #ffffff;
  background: $color-white;
  border-radius: 2px;
  max-width: 380px;

  button{
    height: 50px;
  }

  .alert{
    border-radius: 2px;
  }

  .alert-danger{
    padding: 15px;
  }

  strong{
    padding: 0;
    margin: 0;
  }

}

.card-login-footer{
  padding: 20px;
  max-width: 380px;

  p{
    margin: 0;
    padding: 0;
  }

  .login-create-link{
    line-height: 0.2;
  }

  .confirm-block{
    padding-top: 10px;
  }

}

.card-action{

}

.card-fixed{
  position: fixed;
}