@import "variables";

.navbar-light {
  background: #ffffff;
  border-bottom: #e8e8e8 1px solid;
}

.side-nav {

  @media (max-width: 991px) {
    position: relative;
  }

  position: fixed;

  .nav-item {
    padding: 10px;
    /*&:hover {
      background: $color-hover-item;
      color: $color-primary-lighter;
    }*/
  }

  i {
    font-size: 20px;
    width: 36px;
  }

}
