@import "variables";

body {
  font-family: $heading-font-family;
  font-weight: $light-font-weight;
  color: $text_primary_color;
}

h1, h2, h3, h4, h5, h6, .badge {
  hyphens: auto;
  font-family: $heading-font-family;
  font-weight: $regular-font-weight;

  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

p{
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

span, label {
  font-family: $heading-font-family;
  font-weight: $light-font-weight;
}

button {
  font-family: $heading-font-family;
  font-weight: $light-font-weight;
}

strong {
  @extend .bold;
}

a {
  color: $color-primary;
  &:hover{
    text-decoration: none;
    color: $color-primary-lighter;
  }
  &:focus{
    outline:none!important;
    color: $color-primary-lighter;
  }
  &:active{
    color: $color-primary-lighter;
    border: 0;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family;
  font-weight: $light-font-weight;
}

.quiet {
  color: $quiet-color;
}

.loud {
  font-size: 16px;
  display: block;
  color: $loud-color;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: $regular-font-weight;
}

.btn-action {
  p {
    font-family: $heading-font-family;
    font-weight: $regular-font-weight;
  }
}

.breakword {
  word-wrap: break-word;
}
