@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,700&subset=latin-ext');

$color_clouds: #ecf0f1;

$body_bg_color: #f9f9f9;
$text_primary_color: #555459;

$color-primary:             #e67e22;
$color-primary-dark: #f06b00;
$color-primary-light:       #f39c12;
$color-primary-lighter:     #FF7740;

$color-clouds: #ecf0f1;

$color-nav-bg:              #FFFFFF;
$color-btn-disabled:        #f39c12;

$color-bg:                  #f9f9f9;

$color-success:             #1abc9c;
$color-success-dark:        #16a085;
$color-warning:             #e74c3c;
$color-warning-dark:        #c0392b;

$color-grey-borders:        #c0c0c0;
$color-grey-borders-light:  #ddd;
$color-grey:                #777;
$color-grey-dark:           #222;
$color-white:               #ffffff;
$color-clouds:              #ECF0F1;

$color-hover-item:          #e6e6e6;

$quiet-color:               #c0c0c0;
$loud-color:                #222;

$heading-font-family:      'Dosis', sans-serif;
$heading-font-weight:       700;
$regular-font-weight:       400;
$light-font-weight:         300;

$padding-small:             10px;
$padding-medium:            15px;

$margin-small:              10px;
$margin-medium:             15px;

$border-radius-small:       4px;

$transition-duration-short: 0.2s;

$panel-heading-top-padding: 5px;
$panel-heading-bottom-padding: 5px;