<div class="container-fluid">
    <div class="row">

        <div class="col-lg-2">
            <ul class="nav side-nav">
                <li class="nav-item">
                    <i class="fa fa-home"
                       aria-hidden="true"></i>
                    <a class="nav-link"
                       routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-gamepad"
                       aria-hidden="true"></i>
                    <a class="nav-link"
                       routerLink="/challenge">Challenge</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-gift"
                       aria-hidden="true"></i>
                    <a class="nav-link"
                       routerLink="/kudos">Kudos</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-user"
                       aria-hidden="true"></i>
                    <a class="nav-link"
                       routerLink="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-users"
                       aria-hidden="true"></i>
                    <a class="nav-link"
                       routerLink="/people">People</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-power-off"
                       aria-hidden="true"></i>
                    <a href
                       (click)="logout()">Logout</a>
                </li>
            </ul>

        </div>


        <div class="col-lg-10">

            <router-outlet></router-outlet>

        </div>

    </div>
</div>