@import "../../../assets/styles/variables";

label{
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.modal{
  text-align: left;
}

.predicate-box{
  position: absolute;
  width: 100%;
  z-index: 1000;
}
