<button class="btn btn-primary btn-block"
        (click)="toggleGiveForm()">
    <i class="fa fa-gift"
       aria-hidden="true"></i> Give
</button>

<div *ngIf="showGiveForm" class="card">
    <div class="card-header">
        <h6>Award someone</h6>
    </div>
    <div class="card-block">
        <form (ngSubmit)="onSubmit()">
            <label for="receiverEmail">Email address</label>
            <div class="form-group">
                <input type="email"
                       class="form-control"
                       id="receiverEmail"
                       name="receiverEmail"
                       [(ngModel)]="email"
                       (ngModelChange)="email = $event">
            </div>

            <label for="kudosAmount">Amount</label>
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-minus"
                       aria-hidden="true"></i></span>
                <input type="number"
                       class="form-control"
                       id="kudosAmount"
                       name="kudosAmount"
                       [(ngModel)]="email"
                       (ngModelChange)="email = $event">
                <span class="input-group-addon">
                    <i class="fa fa-plus"
                       aria-hidden="true"></i></span>
            </div>

            <!--<div class="form-group kudos-quick-button center">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="quick-button">
                            <div class="center">
                                1
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="quick-button">
                            <div class="center">
                                2
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="quick-button">
                            <div class="center">
                                3
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="quick-button">
                            <div class="center">
                                5
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <label for="receiverEmail">Message</label>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       id="kudosMessage"
                       name="kudosMessage"
                       [(ngModel)]="kudosMessage"
                       (ngModelChange)="kudosMessage = $event">
            </div>

            <div *ngIf="showErrorMessage"
                 class="alert alert-danger"
                 role="alert">
                <strong>Oh snap!</strong> {{errorMessage}}
            </div>

            <div class="form-group">
                <button type="submit"
                        class="btn btn-primary btn-block">Give
                </button>
            </div>

        </form>
    </div>
</div>
