<button class="btn btn-primary btn-block"
        data-toggle="modal"
        data-target="#giveKudosModal">
    <i class="fa fa-gift"
       aria-hidden="true"></i> Give
</button>

<!-- Modal -->
<div class="modal fade"
     id="giveKudosModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="myModalLabel">Give Kudos</h4>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="dropdown open">
                        <label for="receiverEmail">Challenge to</label>
                        <div class="form-group">
                            <input type="email"
                                   class="form-control"
                                   id="receiverEmail"
                                   name="receiverEmail"
                                   placeholder="Start typing name..."
                                   [(ngModel)]="receiverEmail"
                                   (ngModelChange)="predicateEmail()"
                                   maxlength="80"
                                   autocomplete="off">
                        </div>
                        <div *ngIf="showPredicates"
                             class="predicate-box dropdown-menu">
                            <a *ngFor="let user of predicatedEmails"
                               class="dropdown-item"
                               (click)="selectReceiver(user.email)"
                               href="javascript:;">
                                <i class="fa fa-user"></i> <span>{{user.firstName}} {{user.lastName}}</span><br>
                                <span>{{user.email}}</span>
                            </a>
                        </div>
                    </div>

                    <label for="kudosAmount">Amount</label>
                    <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-minus"
                       aria-hidden="true"></i></span>
                        <input type="number"
                               class="form-control"
                               id="kudosAmount"
                               name="kudosAmount"
                               [(ngModel)]="kudosAmount"
                               (ngModelChange)="kudosAmount = $event">
                        <span class="input-group-addon">
                    <i class="fa fa-plus"
                       aria-hidden="true"></i></span>
                    </div>

                    <label for="receiverEmail">Message</label>
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               id="kudosMessage"
                               name="kudosMessage"
                               [(ngModel)]="kudosMessage"
                               (ngModelChange)="kudosMessage = $event">
                    </div>

                    <div *ngIf="showErrorMessage"
                         class="alert alert-danger"
                         role="alert">
                        <strong>Oh snap!</strong> {{errorMessage}}
                    </div>

                    <div class="form-group">
                        <button type="submit"
                                class="btn btn-primary btn-block">Give
                        </button>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>
