@import "../../../assets/styles/variables";

label{
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.card {
  margin-top: 10px;
}

.kudos-quick-button{
  div .quick-button{
    width: 40px;
    height: 40px;
    background: $color-clouds;
    border-radius: 50%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }

  .center {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }

}

.predicate-box{
  position: absolute;
  width: 100%;
  z-index: 1000;
}