<div *ngIf="isReady && actions.length" class="card">
  <div class="card-content">
    <h3 class="title is-3">What's happening?</h3>
    <div *ngFor="let action of actions">
      <app-action-item [action]="action"></app-action-item>
      <!--<article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{action.senderFullName}}</strong>
              <small>{{action.date | date:'medium'}}</small>
              <br><span>Sent <span class="tag">{{action.amount}}</span> kudos to <a href=":javascript"
                                                                                         routerLink="/user/{{action.receiverId}}">{{action.receiverFullName}}</a></span>
              with message: <span><strong>{{action.message}}</strong></span>
            </p>
          </div>
        </div>
      </article>-->
    </div>
    <div *ngIf="isLoading || !isReady" class="loader-wrapper">
      <div class="loading"></div>
    </div>
  </div>
</div>
