<kudos-nav-bar></kudos-nav-bar>

<div class="container">

    <div *ngIf="showLoader" class="loader">Loading...</div>

    <div class="card">
        <div class="card-block">
            <p>{{user?.firstName}} {{user?.lastName}}</p>
            <p>{{user?.email}}</p>
            <p>Total Kudos: <span class="tag tag-default">{{user?.totalKudos}}</span></p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">

            <kudos-user-kudos-history [id]="userId"></kudos-user-kudos-history>

        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Recent Challenges</h5>
                </div>
                <div class="card-block">

                </div>
            </div>
        </div>

    </div>

</div>



