@import "../../../assets/styles/variables";

.user-name {
  text-overflow: ellipsis;
}

.footer{

  .left{
    text-align: left;
  }

  .right{
    text-align: right;
  }
}

.message{
  display: block;
  color: #7f7f7f;
}

.page-indicator {
  padding-left: 10px;
  padding-right: 10px;
}