<div class="card">

  <h3 class="card-header">Kudos Transactions</h3>

  <div class="card-block">
    <div *ngFor="let item of userKudosCollection; let chIndex = index">
      <p *ngIf="item.type === 'RECEIVED'">Received
        <span class="tag tag-default in">{{item.amount}} kudos</span> from
        <a class="user-name" href="javascript:" routerLink="/user/{{item.senderId}}">{{item.senderFullName}}</a>
        <span class="message">{{item.message}}</span>
      </p>

      <p *ngIf="item.type === 'GIVEN'">Given
        <span class="tag tag-default">{{item.amount}} kudos</span> to
        <a class="user-name" href="javascript:" routerLink="/user/{{item.receiverId}}">{{item.receiverFullName}}</a>
        <span class="message">{{item.message}}</span>
      </p>

      <p *ngIf="item.type === 'UNKNOWN'">Received
        <span class="tag tag-default in">{{item.amount}} kudos</span> from
        <a class="user-name" href="javascript:" routerLink="/user/{{item.senderId}}">{{item.senderFullName}}</a>
        <span class="message">{{item.message}}</span>
      </p>
    </div>

    <div class="footer m-x-auto text-xs-center">

      <div class="pagination" *ngIf="showMore">
          <ul class="nav nav-inline">
            <li class="nav-item">
              <a class="nav-link active" [ngClass]="isFirstPage ? 'disabled' : ''" (click)="loadPreviousPage()" href="javascript:">Previous</a>
            </li>
            <span class="page-indicator">Page {{page + 1}} of {{totalPages}}</span>
            <li class="nav-item" [ngClass]="isLastPage ? 'disabled' : ''" >
              <a class="nav-link" (click)="loadNextPage()" href="javascript:">Next</a>
            </li>
          </ul>
      </div>

      <div>
        <a href="javascript:" (click)="showMoreToggle()">{{showMoreLabel}}</a>
      </div>
    </div>

  </div>

</div>
