<div class="container">

  <div class="panel">
    <h2>Hello {{user?.firstName}} {{user?.lastName}}</h2>
    <p>You have <span class="badge">{{user?.totalKudos}} Kudos</span> in total you can spend up to <span class="badge">{{user?.weeklyKudos}} Kudos</span> this week.</p>
  </div>

  <div class="panel">
    <h2>Kudos Transactions</h2>
    <p>Received <span class="badge">14 Kudos</span> from <a href="">Flour Cabbage</a><span class="message"> This relies on the fact a margin set to `auto` in a flex container absorb extra space. So setting a vertical margin of auto will make the item perfectly centered in both axis.</span></p>
    <p>Received <span class="badge">14 Kudos</span> from <a href="">Red Wine</a><span class="message"> This relies on the fact a margin set to `auto` in a flex container absorb extra space</span></p>
    <p>Sent <span class="badge">14 Kudos</span> to <a href="">Jack Daniels</a><span class="message"> So setting a vertical margin of auto will make the item perfectly centered in both axis.</span></p>

    <div class="footer">
      <a href="">Show more</a>
    </div>
  </div>

</div>