<div class="card card-block text-xs-center">

    <h5 *ngIf="challenge.actions.acceptAllowed">You have created challenge</h5>

    <h5 *ngIf="challenge.actions.cancelAllowed">You have been challenged</h5>

    <p *ngIf="challenge.actions.acceptAllowed"><span class="bold">{{challenge.name}}</span> received from <a href="">{{challenge.creatorFullName}}</a> for <span class="tag tag-default">{{challenge.amount}} Kudos</span></p>


    <h6>{{challenge.name}}</h6>
    <p>{{challenge.description}}</p>

    <button (click)="accept();"
            *ngIf="challenge.actions.acceptAllowed"
            class="btn btn-primary">Accept
    </button>

    <button (click)="decline()"
            *ngIf="challenge.actions.declineAllowed"
            class="btn btn-secondary">Decline
    </button>

    <button (click)="cancel()"
            *ngIf="challenge.actions.cancelAllowed"
            class="btn btn-secondary">Cancel
    </button>

</div>