<div class="card text-xs-center">

    <h5 *ngIf="challenge.actions.acceptAllowed">You have been challenged</h5>

    <h5 *ngIf="challenge.actions.cancelAllowed">Waiting for challenge to be accepted</h5>

    <h5 *ngIf="!challenge.actions.acceptAllowed && !challenge.actions.markAsCompletedAllowed && !challenge.actions.cancelAllowed">You have accepted challenge</h5>

    <h5 *ngIf="challenge.actions.markAsCompletedAllowed">Given challenge</h5>

    <p *ngIf="challenge.actions.acceptAllowed"><span class="bold">{{challenge.name}}</span> received from <a href="" routerLink="/user/{{challenge.creatorId}}">{{challenge.creatorFullName}}</a> for <span class="tag tag-default">{{challenge.amount}} Kudos</span></p>

    <p *ngIf="challenge.actions.cancelAllowed || challenge.actions.markAsCompletedAllowed"><span class="bold">{{challenge.name}}</span> given to <a href="" routerLink="/user/{{challenge.participantId}}">{{challenge.participantFullName}}</a> for <span class="tag tag-default">{{challenge.amount}} Kudos</span></p>

    <p *ngIf="!challenge.actions.acceptAllowed && !challenge.actions.markAsCompletedAllowed && !challenge.actions.cancelAllowed"><span class="bold">{{challenge.name}}</span> received from <a href="" routerLink="/user/{{challenge.creatorId}}">{{challenge.creatorFullName}}</a> for <span class="tag tag-default">{{challenge.amount}} Kudos</span></p>

    <p>{{challenge.description}}</p>

    <button (click)="accept();"
            *ngIf="challenge.actions.acceptAllowed"
            class="btn btn-primary">Accept
    </button>

    <button (click)="decline()"
            *ngIf="challenge.actions.declineAllowed"
            class="btn btn-secondary">Decline
    </button>

    <button (click)="cancel()"
            *ngIf="challenge.actions.cancelAllowed"
            class="btn btn-secondary">Cancel
    </button>

    <button (click)="complete()"
            *ngIf="challenge.actions.markAsCompletedAllowed"
            class="btn btn-primary">Completed
    </button>

    <button (click)="markAsFailed()"
            *ngIf="challenge.actions.markAsFailedAllowed"
            class="btn btn-secondary">Failed
    </button>

    <!--<kudos-comments-holder [id]="challenge.id"></kudos-comments-holder>-->

</div>